body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    color: var(--textfarbe);
}


.header-h1 {
    text-align: left;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid green;
    position: sticky;
}



nav ul {
    display: flex;
    gap: 28px;
    list-style: none;
    margin-right: 50px;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 18px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--hauptfarbe);
    font-family: 'Montserrat', sans-serif;

}

.logo img {
    height: 52px;
    width: auto;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 16px;
    color: rgb(4, 56, 4);
}

.hero p {
    font-size: 18px;
    color: #555;
    max-width: 1000px;
    margin: 0 auto;
}



.container-siam {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: min(100% - 40px, 1000px);
    margin: 80px auto;
    background-color: rgba(218, 219, 151, 0.95);
    justify-content: center;
}

